body {
  font-family: 'Fira Sans', sans-serif;
}

@media (min-width: 992px) {
  h1 {
    font-size: 45px;
  }
}

h1 {
  font-weight: bold;
}

.blog-header {
  margin-bottom: 35px;
}

h2 {
  color: #60c3ef;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.bubble {
  background-image: url("../images/Date Icon bubble.png");
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
  margin-top: 26px;
  margin-left: 18px;
  color: white;
  font-weight: 600;
  text-align: center;
}

.day {
  font-size: 35px;
  display: block;
  line-height: 1;
  padding-top: 12px;
}

.month {
  display: block;
  line-height: 1;
  text-transform: uppercase;
}

li a {
  color: #60c3ef;
}

.blog-meta {
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.likes-comments i {
  color: black;
}

p {
  font-size: 17px;
}

 .categories ul {
   margin-bottom: 0;
 }

.categories ul li::after {
  content: "|";
  width: 1px;
  height: 10px;
  color: #878787;
  margin-left: 8px;
}

.categories ul li:last-child::after {
  width: 1px;
  height: 10px;
  color: gray;
  content: " ";
}

.post-footer .likes-comments {
  line-height: 60px;
}

.share-art {
  height: 60px;
  line-height: 60px;
}

.share-art span {
  font-size: 25px;
  font-weight: bold;
}

.share-art .fa {
  line-height: 40px;
  vertical-align: middle;
}

.fa {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.fa-twitter {
  background-color: #24afe9;
}

.fa-facebook {
  background-color:#3a5e9f;
}

.fa-google-plus {
  background-color: #dc4e41;
}

.btn {
  background-color: #34afe5;
  font-size: 20px;
  font-weight: bold;
  width: 185px;
  height: 60px;
  line-height: 46px;
}

.previous {
  margin-right: 12px;
}

.fa-angle-double-left, .fa-angle-double-right {
  margin-left: 0;
  width: 20px;
}

.blog-post-second {
  padding: 0 15px;
}
